<template>
  <div>
    <div class="bk-blog" v-bind:style="{backgroundImage: 'url('+background+')'}"></div>
    <div class="hide-overflow" style="position: relative;">
      <v-toolbar fixed dark>
        <v-toolbar-item>
          <h2 class="toolbar-blog-title">DOWNHILL CIRCUIT CLUB</h2>
        </v-toolbar-item>
        <v-spacer></v-spacer>
        <v-layout align-center justify-center row fill-height></v-layout>
        <v-toolbar-items :key="logged">
          <h2 class="user-on-bar" v-if="logged">Welcome {{user}}!</h2> 
          <v-btn flat v-if="!logged" v-on:click="goToLogin" :key="render">Log In</v-btn>
          <v-btn flat v-if="!logged" v-on:click="goToRegister" :key="render">Register</v-btn>
          <v-btn flat v-if="logged" @click="showPostBox =!showPostBox" :key="render">Post</v-btn>
          <v-btn flat v-if="logged" v-on:click="logOffDialogSwitch" :key="render">Log Off</v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <div id="scrolling-techniques" class="scroll-y" style="max-height: 100%;">
        <v-container style="height: 1px;"></v-container>
      </div>
      <div clas="bsmd">
        <v-layout align-start justify-center row>
          <v-layout maLayout align-start column fill-height>
            <v-card class="tags-card">
              <div class="v-btn__content tags-title">
                <h3>Tags:</h3>
              </div>
              <div class="tags-tags">
                <v-checkbox dark v-model="selected" :label="'Events'" value="Event"></v-checkbox>
                <v-checkbox dark v-model="selected" :label="'News'" value="News"></v-checkbox>
                <v-checkbox dark v-model="selected" :label="'Spotlights'" value="Spotlight"></v-checkbox>
              </div>
            </v-card>
          </v-layout>
          <v-layout maLayout align-center column fill-height>
            <div v-for="post in posts" v-bind:key="post.id">
              <v-card hover flat class="post-card" v-if="shouldPost(post.tag)">
                <v-img class="post-img" :src="post.linkBanner"></v-img>

                <v-card-title primary-title>
                  <div>
                    <h3 class="headline mb-0" style="color:white!important">{{post.title}}</h3>
                    <div style="color:white!important">{{ post.shortText }}</div>
                  </div>
                </v-card-title>

                <v-card-actions>
                  <v-btn
                    flat
                    style="color:white!important"
                    color="orange"
                    v-on:click="openFullPost(post)"
                  >View More</v-btn>
                  <v-spacer></v-spacer>
                  <h3
                    style="color:white!important">
                    Tag: {{post.tag}}
                  </h3>
                  <v-divider></v-divider>
                  <h3
                    style="color:white!important"
                  >Posted by {{post.user["0"].userName}} on {{post.dateOfPosting.slice(0,10)}}</h3>
                </v-card-actions>
              </v-card>
            </div>
          </v-layout>
        </v-layout>
      </div>
    </div>

    <div class="text-xs-center">
      <v-dialog v-model="logOffDialog" width="500">
        <v-card>
          <v-card-title class="headline grey lighten-2" primary-title>Logging Off</v-card-title>

          <v-card-text>Are you sure?</v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" flat @click="logOff">Yes</v-btn>
            <v-btn color="primary" flat @click="logOffDialog = false">No</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
    <div class="text-xs-center">
      <v-dialog v-model="fullPost" width="1000" class="full-post-card">
        <v-card></v-card>
        <youtube :video-id="postFull.linkVideo" muted class="full-post-vid" style></youtube>
        <div>
          <h1 class="post-title1">{{postFull.title}}</h1>
          <p class="post-text1">{{postFull.text}} {{fullPost}}</p>
        </div>
        <p class="post-text1">Posted by {{postFull.posteUser}}</p>
      </v-dialog>
    </div>
    <transition name="fade">
      <v-card v-if="showPostBox" class="postApost-div">
        <v-toolbar card color="black" dark>
          <v-btn @click="showPostBox =!showPostBox">Cancel</v-btn>
          <v-text-field
            v-model="postDetails.title"
            label="Enter Post Title..."
            single-line
            full-width
            hide-details
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-btn @click="postThePost">Post</v-btn>
        </v-toolbar>
        <v-form>
          <v-autocomplete
            v-model="postDetails.tag"
            :items="['Event','News','Spotlight']"
            chips
            label="Categories"
            full-width
            hide-details
            hide-no-data
            hide-selected
            single-line
            class="postApost-categories"
          ></v-autocomplete>

          <v-divider></v-divider>
          <v-text-field
            v-model="postDetails.bannerLink"
            :rules="[rules.required]"
            name="input-10-2"
            label="Banner Picture Link..."
            full-width
            value
            class="input-group--focused postApost-text-field"
            style="color:black!important;caret-color:black!important"
            autocomplete="off"
          ></v-text-field>
          <v-divider></v-divider>
          <v-text-field
            v-model="postDetails.linkVideo"
            :rules="[rules.required]"
            name="input-10-2"
            label="Full Post Video Id..."
            full-width
            value
            class="input-group--focused postApost-text-field"
            style="color:black!important;caret-color:black!important"
            autocomplete="off"
          ></v-text-field>

          <v-divider></v-divider>

          <v-spacer></v-spacer>
          <v-textarea
            v-model="postDetails.shortText"
            :rules="[rules.required]"
            name="input-10-2"
            label="Banner Description"
            full-width
            value
            class="input-group--focused postApost-text-area"
            style="color:black!important;caret-color:black!important"
            counter
            maxlength="40"
            no-resize
            border
            autocomplete="off"
            height="30"
          ></v-textarea>

          <v-divider></v-divider>
          <v-spacer></v-spacer>
          <v-textarea
            v-model="postDetails.text"
            :rules="[rules.required]"
            name="input-10-2"
            label="Description"
            full-width
            value
            class="input-group--focused postApost-text-area"
            style="color:black!important;caret-color:black!important"
            counter
            maxlength="250"
            no-resize
            border
            autocomplete="off"
            height="285"
          ></v-textarea>
        </v-form>
      </v-card>
    </transition>
  </div>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import { constants } from "crypto";
import { router } from "../__helpers";
export default {
  data() {
    return {
      videoSrc: require("../assets/video.mp4"),
      logoSmall: require("../assets/logoTiny.png"),
      background: require("../assets/Blog/uH0gKz4.png"),
      items: [
        { title: "Home", icon: "dashboard" },
        { title: "About", icon: "question_answer" }
      ],
      right: null,
      posts: [],
      user:"",
      selected: [],
      postText: true,
      logged: false,
      render: 0,
      logOffDialog: false,
      rules: {
        required: value => !!value
      },
      showPostBox: false,
      postDetails: {
        tag: "",
        title: "",
        bannerLink: "",
        linkVideo: ""
      },
      fullPost: false,
      postFull: []
    };
  },
  methods: {
    forceRerender() {
      this.render += 1;
    },
    getPosts: function() {
      axios
        .get("http://board-backend.herokuapp.com/api/post/viewAllPost")
        .then(response => {
          console.info(response.data);
          var posts = response.data;
          posts.forEach(post => {
            this.posts.push(post);
          });
          console.log(posts);
        })
        .catch(e => {
          console.info(e.message);
          this.loginInformation = "Email or password incorrect!";
        });
    },

    isLogged: function() {
      if (JSON.parse(localStorage.getItem("userData")).location != "") {
        console.log("Je suis logged!");
        this.logged = true;
        
       this.user=JSON.parse(localStorage.getItem("userData")).userName
     } else {
        console.log("Ain't logged in boss");
        
        this.logged = false;
      }


    },

    goToLogin: function() {
      router.push("login");
    },

    goToRegister: function() {
      router.push("register");
    },

    logOffDialogSwitch: function() {
      this.logOffDialog = true;
    },

    logOff: function() {
      localStorage.removeItem("userData");
      localStorage.removeItem("userId");
      this.showPostBox = false;
      this.logged = false;
      this.logOffDialog = false;
      console.log(this.logged);
    },

    tagsTrigger: function() {
      if (this.eventsCheck || this.newsCheck || this.spotCheck) {
        this.allCheck = false;
      }
    },
    shouldPost(str) {
      if (this.selected.length == 0) {
        return true;
      } else {
        if (this.selected.indexOf(str) > -1) {
          return true;
        } else {
          return false;
        }
      }
    },

    openFullPost(post) {
      this.postFull = post;
      this.postFull.posteUser = post.user["0"].userName;
      console.log(this.postFull);
      this.fullPost = true;
    },

    printMeOne: function() {
      console.log(this.fullPost);
    },

    postThePost: function() {
      console.log("Posting:" + JSON.stringify(this.postDetails));

      axios
        .post(
          "http://board-backend.herokuapp.com/api/post/addPost/" +
            JSON.parse(localStorage.getItem("userId")).id,
          {
            tag: this.postDetails.tag,
            title: this.postDetails.title,
            shortText: this.postDetails.shortText,
            text: this.postDetails.text,
            linkBanner: this.postDetails.bannerLink,
            linkVideo: this.postDetails.linkVideo
          }
        )
        .then(response => {
          console.log(response.data);
          location.reload();
        })
        .catch(response => {
          console.log(response.data);
        });
    }
  },
  mounted() {
    this.getPosts();
    this.isLogged();
    console.log("are you special?");
  },
  updated() {},
  watch: {
    "$route.path": "isLogged",
    "$this.fullPost": "printMeOne"
  }
};
</script>

<style>
@font-face {
  font-family: SunsetBoulevard;
  src: url("~@/assets/Blog/AC_Thermes_Solid.otf");
}

.bk-blog {
  position: fixed;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.maLayout {
  flex-grow: 0 !important;
}

.v-dialog {
  background-color: white !important;
}

.full-post-vid iframe {
  width: 1000px;
  height: 500px;
}

.bottom-gradient {
  background-image: black;
}

.toolbar-blog-title {
  font-family: SunsetBoulevard;
  font-size: 2em;
  padding-bottom: 10px;
}

.tags-card {
  margin-top: 50px;
  margin-right: 55px;
  background-color: rgba(0, 0, 0, 0.466) !important;
  width: 150px;
}

.tags-title {
  color: #fd6a02;
  /* text-transform: uppercase; */
  font: inherit;
  text-rendering: auto;
  text-decoration: inherit;
  box-sizing: inherit;
  letter-spacing: normal;
  -webkit-writing-mode: horizontal-tb !important;
  background-color: #212121;
  font-size:1.5rem!important;

  
}

.tags-tags
{
  margin-top:10px;
  padding-top:5px;
  margin-left:15px;
}

.tags-card .v-input {
  margin-top: 2px !important;
}
.tags-card .accent--text {
  color: #ff9800 !important;
}

.post-card {
  display: flex !important;
  flex-flow: column !important;
  margin-top: 50px !important;
  min-width: 300px !important;
  width: 790px !important;
  max-width: 900px !important;
  height: 390px !important;
  background-color: rgba(0, 0, 0, 0.466) !important;
}

.post-img {
  height: 120px;
}

.postApost-div {
  position: fixed;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fd6b02c4 !important;
  z-index: 10;
  width: 700px;
  height: 750px;
}
.postApost-categories span {
  color: white;
  background: black;
}

.postApost-text-field {
  color: black !important;
  caret-color: black !important;
  height: 52px !important;
}

.postApost-text-field .primary--text {
  color: black !important;
}

.postApost-text-area .primary--text {
  color: black !important;
}
.postApost-text-area textarea {
  padding-top: 30px;
}

.user-on-bar
{
  color: #fd6b02c4 !important;

  margin-top:auto;
  margin-bottom: auto;
  font-size:18px;
  margin-right:40px;
}

.backgr {
  background-image: url("http://i3.ytimg.com/vi/k4JumsRepPQ/maxresdefault.jpg");
  background-repeat: repeat;
  background-size: contain;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.post-title1 {
  font-family: "Roboto";
  font-weight: 400;
  margin-left: 20px;
  font-size: 3rem;
}

.post-text1 {
  font-family: "Roboto";
  margin-left: 20px;
  margin-right: 20px;
  text-indent: 15px;
  font-size: 1.3rem;
}
</style>

