<template>
  <v-layout align-start justify-space-between row>
    <v-toolbar flat dark fixed id="mainNav" style="margin-top:35px">
      <v-toolbar-item>
        <!-- <v-btn v-on:click="goToIntro" depressed flat class="backButton">
          <i class="fas fa-arrow-left"></i> Back to Intro
        </v-btn>-->
        <v-img
          @click="$vuetify.goTo(0)"
          :src="logoSmall"
          style="padding-top:30px; height:120px; width:120px; cursor:pointer"
        />
      </v-toolbar-item>
      <v-toolbar-title></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn
          v-for="item in menu"
          :key="item.icon"
          :to="item.link"
          @click="$vuetify.goTo(item.goToId)"
          flat
        >{{ item.title }}</v-btn>
        <v-btn @click="goToBlog" flat>Community</v-btn>
      </v-toolbar-items>
    
    </v-toolbar>
  </v-layout>
</template>

<script>
import { router } from "../__helpers";
//import { constants } from 'crypto';
/* eslint-disable */

export default {
  data() {
    return {
      menu: [
        { icon: "home", title: "About", goToId: "#about" },
        { icon: "info", title: "Brands", goToId: "#brands" },
        { title: "Spotlight", goToId: "#community" },
        { icon: "warning", title: "Races", goToId: "#races" }
      ],

      scrollPosition: 0,

      logoSmall: require("../assets/logoTiny.png")
    };
  },
  methods: {
    updateScroll() {
      this.scrollPosition = window.scrollY;
      console.log(this.scrollPosition);
    },

    goToBlog: function() {
      router.push("blog");
    },

    test() {
      console.log("pa");
    },

    goToIntro: function() {
      console.log("suk");
      router.push("/");
      console.log("Pushed Intro");
    }
  },
  mounted() {
    window.addEventListener("scroll", this.updateScroll);
  },
  computed: {
    target() {
      const value = this[this.type];
      if (!isNaN(value)) return Number(value);
      else return value;
    }
  },
  element() {
    return this.$refs.about;
  }
};
</script>

<style>
.backButton {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 1.2rem;
  cursor: pointer;
}
#mainNav {
  background-color: rgba(0, 0, 0, 0.5);
}
.v-btn {
  color: #fd6a02 !important;
}
</style>

