<template>
    <v-footer
      
      height="20"
      fixed
      dark
    >
      <v-card
        class="flex"
        flat
        tile
        
      >
        
  
        <v-card-actions class="justify-center colorFadeFooter">
          <pFoot class="footerText">&copy;2019 —  <strong style="color:#fd6a02!important;">DCC</strong></pFoot>
        </v-card-actions>
      </v-card>
    </v-footer>
</template>

<script>
export default {
    data()
    {
       
        
    }
}
</script>

<style>
.footerText
{
    font-size: 13px!important;
}
.theme--dark.v-sheet{
  background-color:rgba(0,0,0,0.5);
}
.theme--dark.v-footer
{
 background-color:rgba(0,0,0,0.5);
}
</style>

