<template>
  <v-layout>
    <video playsinline loop muted autoplay ref="videoRef" :src="videoSrc" id="bgvid" width="100%"></video>
    <div class="contentIntro">
      <v-img :src="photoSrc"/>

      <div class="text-xs-center">
        <v-btn round color="white" v-on:click="toggleIntro">Enter site</v-btn>
      </div>
    </div>
  </v-layout>
</template>

<script>
/* eslint-disable */
import {router} from "../__helpers";
export default {
  methods: {
    toggleIntro:function()
    {
      
      router.push('home');
      console.log("Pushed Home");
      this.$refs.videoRef.play();
    }
  },

  data() {
    return {
      videoSrc: require("../assets/video.mp4"),
      photoSrc: require("../assets/logo.png"),
      showIntro:true
    };
  },
  mounted: function() {
    // this.$refs.videoRef.src = "../assets/video.mp4";
    this.$refs.videoRef.play();
    console.log("I've mounted ya mom")

  },
  updated: function()
  {
    this.$refs.videoRef.play();
    console.log("I've mounted ya mom")
  },
  created() 
  {
    this.$refs.videoRef.play();
    console.log("I've mounted ya mom")
  },
  beforeMount()
  {

  },
  
};
</script>

<style>
video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;

  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.contentIntro {
  width: 800px;
  height: 800px;
  /* background-color: blue; */

  position: absolute; /*it can be fixed too*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}
</style>
