<template>
  <v-layout align-space-around justify-start column>
    <drawerStatic/>
    <v-layout align-space-between justify-space-between column>
      <v-flex style="height:0px" class="windowSized titleBg">
        <v-layout align-center justify-center column fill-height>
          <v-img :src="titleSrc" min-width="200" width="700" min-height="220" max-height="330"></v-img>
        </v-layout>
      </v-flex>

      <v-flex id="about" style="background:#737373;height:0px" class="windowSized aboutFlex">
      
         <v-img :src="aboutSrc"></v-img>
      </v-flex>
      <v-flex id="brands" style="background:#737373;height:0px" class="windowSized brandsFlex">
        <v-carousel hide-delimiters class="brandsCarousel">
          <v-carousel-item class="carouselItem" v-for="(item,i) in items" :key="i" :src="item.src"></v-carousel-item>
        </v-carousel>
      </v-flex>

      <v-flex id="community" style="height:0px;background:#737373;" class="windowSized videoFlex">
        <p class="textCommunity">Community Spotlight!</p>
        <youtube :video-id="'T66IsAYdXzA'" class="videoTrans"></youtube>
        <p class="textDescCommunity">For the first installment of Raw Runs Cole Trotta takes us down this Romanian dream of a road. We stayed a few nights at the bottom of the hill, and needless to say this short trip within a trip was nothing short of a dream.
        </p>
      </v-flex>
      <v-flex class="v-flex-inline windowSized racesBg" id="races">
        <div class="races-container">
          <table class="rwd-table passed-races-table">
            <thead>
              <tr class="race-type-header">
                <th colspan="4">Passed Races</th>
              </tr>
              <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Country</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
              <tr class="past">
                <td class="race-name">
                  <p>Newton's</p>
                </td>
                <td class="race-date">5/4</td>
                <td class="race-country">
                  <img
                    src="https://internationaldownhillfederation.org/app/themes/idf/assets/img/flags/au.png"
                    alt
                    class="flag"
                  >
                  <span class="show480">Australia</span>
                </td>
                <td class="race-type">
                  <p>WC</p>
                </td>
              </tr>

              <tr class="past">
                <td class="race-name">
                  <p>Tame the Taipan</p>
                </td>
                <td class="race-date">12/4</td>
                <td class="race-country">
                  <img
                    src="https://internationaldownhillfederation.org/app/themes/idf/assets/img/flags/au.png"
                    alt
                    class="flag"
                  >
                  <span class="show480">Australia</span>
                </td>
                <td class="race-type">
                  <p>WQS</p>
                </td>
              </tr>

              <tr class="past">
                <td class="race-name">
                  <p>Seaside</p>
                </td>
                <td class="race-date">22/4</td>
                <td class="race-country">
                  <img
                    src="https://internationaldownhillfederation.org/app/themes/idf/assets/img/flags/ph.png"
                    alt
                    class="flag"
                  >
                  <span class="show480">Philippines</span>
                </td>
                <td class="race-type">
                  <p>WQS</p>
                </td>
              </tr>

              <tr class="past">
                <td class="race-name">
                  <p>Keeping It High</p>
                </td>
                <td class="race-date">25/4</td>
                <td class="race-country">
                  <img
                    src="https://internationaldownhillfederation.org/app/themes/idf/assets/img/flags/ph.png"
                    alt
                    class="flag"
                  >
                  <span class="show480">Philippines</span>
                </td>
                <td class="race-type">
                  <p>WQS</p>
                </td>
              </tr>

              <tr class="past">
                <td class="race-name">
                  <p>Gravity Fest</p>
                </td>
                <td class="race-date">1/6</td>
                <td class="race-country">
                  <img
                    src="https://internationaldownhillfederation.org/app/themes/idf/assets/img/flags/us.png"
                    alt
                    class="flag"
                  >
                  <span class="show480">United States</span>
                </td>
                <td class="race-type">
                  <p>WQS</p>
                </td>
              </tr>
               <tr class="past">
                <td class="race-name">
                  <p>Killington</p>
                </td>
                <td class="race-date">14/6</td>
                <td class="race-country">
                  <img
                    src="https://internationaldownhillfederation.org/app/themes/idf/assets/img/flags/us.png"
                    alt
                    class="flag"
                  >
                  <span class="show480">United States</span>
                </td>
                <td class="race-type">
                  <p>WC</p>
                </td>
              </tr>

            </tbody>
          </table>

          <table class="rwd-table future-races-table">
            <thead>
              <tr class="race-type-header">
                <th  colspan="4">Future Races</th>
              </tr>
              <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Country</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
             
              <tr class="future">
                <td class="race-name">
                  <p>Verdicchio Race</p>
                </td>
                <td class="race-date">10/7</td>
                <td class="race-country">
                  <img
                    src="https://internationaldownhillfederation.org/app/themes/idf/assets/img/flags/it.png"
                    alt
                    class="flag"
                  >
                  <span class="show480">Italy</span>
                </td>
                <td class="race-type">
                  <p>WQS</p>
                </td>
              </tr>

              <tr class="future">
                <td class="race-name">
                  <p>Kozakov Challenge</p>
                </td>
                <td class="race-date">17/7</td>
                <td class="race-country">
                  <img
                    src="https://internationaldownhillfederation.org/app/themes/idf/assets/img/flags/cz.png"
                    alt
                    class="flag"
                  >
                  <span class="show480">Czech Republic</span>
                </td>
                <td class="race-type">
                  <p>WC</p>
                </td>
              </tr>

              <tr class="future">
                <td class="race-name">
                  <p>Transylvania DH</p>
                </td>
                <td class="race-date">26/7</td>
                <td class="race-country">
                  <img
                    src="https://internationaldownhillfederation.org/app/themes/idf/assets/img/flags/ro.png"
                    alt
                    class="flag"
                  >
                  <span class="show480">Romania</span>
                </td>
                <td class="race-type">
                  <p>WC</p>
                </td>
              </tr>

              <tr class="future">
                <td class="race-name">
                  <p>La Virgen</p>
                </td>
                <td class="race-date">3/8</td>
                <td class="race-country">
                  <img
                    src="https://internationaldownhillfederation.org/app/themes/idf/assets/img/flags/co.png"
                    alt
                    class="flag"
                  >
                  <span class="show480">Colombia</span>
                </td>
                <td class="race-type">
                  <p>WQS</p>
                </td>
              </tr>

              <tr class="future">
                <td class="race-name">
                  <p>La Leonera DH</p>
                </td>
                <td class="race-date">9/8</td>
                <td class="race-country">
                  <img
                    src="https://internationaldownhillfederation.org/app/themes/idf/assets/img/flags/co.png"
                    alt
                    class="flag"
                  >
                  <span class="show480">Colombia</span>
                </td>
                <td class="race-type">
                  <p>WC</p>
                </td>
              </tr>

              <tr class="future">
                <td class="race-name">
                  <p>Membrillal Cuesta Abajo</p>
                </td>
                <td class="race-date">16/8</td>
                <td class="race-country">
                  <img
                    src="https://internationaldownhillfederation.org/app/themes/idf/assets/img/flags/ec.png"
                    alt
                    class="flag"
                  >
                  <span class="show480">Ecuador</span>
                </td>
                <td class="race-type">
                  <p>WQS</p>
                </td>
              </tr>

              <tr class="future">
                <td class="race-name">
                  <p>La Violenta</p>
                </td>
                <td class="race-date">23/8</td>
                <td class="race-country">
                  <img
                    src="https://internationaldownhillfederation.org/app/themes/idf/assets/img/flags/ar.png"
                    alt
                    class="flag"
                  >
                  <span class="show480">Argentina</span>
                </td>
                <td class="race-type">
                  <p>WQS</p>
                </td>
              </tr>

              <tr class="future">
                <td class="race-name">
                  <p>Maryhill GP</p>
                </td>
                <td class="race-date">30/8</td>
                <td class="race-country">
                  <img
                    src="https://internationaldownhillfederation.org/app/themes/idf/assets/img/flags/us.png"
                    alt
                    class="flag"
                  >
                  <span class="show480">United States</span>
                </td>
                <td class="race-type">
                  <p>WQS</p>
                </td>
              </tr>

              <tr class="future">
                <td class="race-name">
                  <p>Yaku Raymi</p>
                </td>
                <td class="race-date">13/9</td>
                <td class="race-country">
                  <img
                    src="https://internationaldownhillfederation.org/app/themes/idf/assets/img/flags/pe.png"
                    alt
                    class="flag"
                  >
                  <span class="show480">Peru</span>
                </td>
                <td class="race-type">
                  <p>WQS</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </v-flex>
    </v-layout>

    <footer1/>
  </v-layout>
</template>

<script>
/* eslint-disable */
import drawerStatic from "./drawerStatic.vue";
import footer1 from "./footer";

export default {
  components: {
    drawerStatic,
    footer1
  },
  data() {
    return {
      window: {
        width: 0,
        height: 0
      },
      titleSrc: require("../assets/Title/boardTitle21.png"),
      racesSrc: require("../assets/Races/bkRaces.png"),
      aboutSrc: require("../assets/About4.png"),
      items: [
        {
          src: require("../assets/Brands/b1SectorNein.png")
        },
        {
          src: require("../assets/Brands/b2Atom.png")
        },
        {
          src: require("../assets/Brands/b3Globe.png")
        },
        {
          src: require("../assets/Brands/b4Landy.png")
        },
        {
          src: require("../assets/Brands/b5Loaded.png")
        }
      ]
    };
  },
  methods: {
    handleResize() {
      this.window.width = window.innerWidth;
      this.window.height = window.innerHeight;
      //   console.log(this.window.height);
      var flexes = document.getElementsByClassName("windowSized");
      var carouselImages = document.getElementsByClassName("carouselItem");
      ///console.log(flexes)
      for (let index = 0; index < carouselImages.length; index++) {
        const element = carouselImages[index];
        element.style.height = this.window.height + "px";
        //element.style.width=this.windows.width+"px";
      }
      for (let index = 0; index < flexes.length; index++) {
        const element = flexes[index];
        //console.log(element.style.height);
        element.style.height = this.window.height + "px";
      }

      //   flexes.forEach(fliex => {
      //       fliex.style.setProperty('height',this.window.height);
      //   });
    }
  },
  mounted() {
    window.addEventListener("resize", this.handleResize);

    this.handleResize();
    this.getCarouselHeight();
  },
  destroyed() {
    window.removeEventListener("resize", this.handleResize);
  }
};
</script>

<style>
.titleImage {
  overflow: visible;
}

.races-container
{
  display: flex;
  margin-top:auto;
  margin-bottom:auto;
  align-items: center;
}

.races-container:nth-child(n)
{
  
}



.windowSized {
}

.titleBg {
  background-image: url(https://scontent.fomr1-1.fna.fbcdn.net/v/t1.15752-9/s2048x2048/62184067_313546532892495_1816456035867557888_n.jpg?_nc_cat=102&_nc_ht=scontent.fomr1-1.fna&oh=821929f73d2c59cc9b20eb0b72400e75&oe=5D8D0E90);
  background-size: cover;
}

.racesBg {
  background-image: url(https://scontent-vie1-1.xx.fbcdn.net/v/t1.15752-9/62118900_2353385741600236_8801726254068793344_n.png?_nc_cat=106&_nc_ht=scontent-vie1-1.xx&oh=8a4839b112de2d8e5947583ab8c7446d&oe=5D829B25);
  background-size: cover;
}

.aboutFlex {
  color: white;
  display: flex;
  justify-content: center;
}

.videoFlex {
  color: white;
  display: row;
  justify-content: center;
}

.aboutText {
  text-align: justify;
  font-size: 1.4rem;
  width:900px;
  margin: auto;
  text-indent: 55px;
}

.videoTrans {
  text-align: justify;
  font-size: 1.3rem;
  width: 600px;
  margin: auto;
}

.brandsCarousel {
  height: 100% !important;
}

.textCommunity {
  text-align: center;
  font-size: 3rem;
  margin-top: 7.5rem;
}

.textDescCommunity {
  text-align: center;
  width: 65%;
  margin: auto;
  font-size: 1. 7rem;
  padding-top: 10px;
}

.future-races-table
{
  margin-left:20px
}

.rwd-table {
  min-width: 400px;
  max-width: 65%;
  border-collapse:separate;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #ffffffc9;
}

.rwd-table tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.5);
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  
}

.rwd-table p{
  margin:auto;
  font-size: 1.4rem!important;
}

.rwd-table span{
  margin:auto;
  font-size: 1.4rem!important;
}

.rwd-table th{
  font-size: 1.5rem;
  color:#fd6a02!important;
}

.rwd-table img{
  margin:auto;
  margin-right: 5px;
  width: 22px;
  height: 14px;

}


.rwd-table th {
  display: none;
  
}

.rwd-table td {
  display: block;
  border-radius: 0.4em;
}


.rwd-table td:first-child {
  margin-top: 0.5em;
}

.rwd-table td:last-child {
  margin-bottom: 0.5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.race-type-header
{
  
  border-radius: 0.4em;
  border-collapse: collapse;
  display: flexbox;
  margin:auto;
  color:white;
  
  
}

.race-type-header th
{
  text-align: center!important;
  border-radius: 0.4em;
  border-collapse:separate;
  
  background: #000;
  margin-left:50px;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
  border-radius: 0.4em;
}

.rwd-table {
  color: #333;
  border-radius: 0.4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #bfbfbf;

}

.rwd-table th,
.rwd-table td {
  padding: 0.5em 1em;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #d4d4d4;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.25em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 0.25em !important;
  }
}
.v-flex-inline {
  display: inline-flex;
  justify-content: center;
}
</style>
