<template>
  <v-app>
     <v-content transition="slide-x-transition">
    
      <keep-alive>
        <router-view :key="$route.fullPath"> 
          
        </router-view>   
      </keep-alive>
        <foot/> 
        
    </v-content>
  </v-app>
</template>

<script>
//import {router} from "./__helpers";

export default {
  name: "App",
  components: {
   
  },
  data() {
    return {
       toggleDrawer:false
    };
  },
 
  beforeMount()
  {
 
  },
  mounted()
  {
    
  }
};
</script>
